#
# Editor configuration
# https://editorconfig.org/
#

# Global settings
root = true

[*]
tab_width = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Autotools, Make
[{Makefile.am,Makefile}]
indent_style = tab
indent_size = 8

# Python
[*.py]
indent_style = space
indent_size = 4

# C/C++
[*.{c,cpp,h}]
indent_style = space
indent_size = 2
