language: c++
services:
  - docker

env:
  - IMAGE: "synnick/monopticon-empscripten"

before_install:
- docker pull $IMAGE
- docker run -d -v `pwd`:/home/build/monopticon $IMAGE:latest
- docker ps -a
- docker exec $IMAGE "mkdir monopticon/build"
- docker exec $IMAGE "cd monopticon/build; cmake .. -DCMAKE_TOOLCHAIN_FILE=/home/build/monopticon/toolchains/generic/Emscripten.cmake -DCMAKE_PREFIX_PATH=/usr/lib/emscripten/system -DCMAKE_INSTALL_PREFIX=/home/build/monopticon/build/ -DFREETYPE_LIBRARY=/home/build/.emscripten_cache/wasm/libfreetype.a -DImGui_INCLUDE_DIR=/opt/imgui"
- docker exec $IMAGE "cd monopticon/build; make --build . --target install"
